{% extends "auth_server/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h3 style="text-align: center">Two factor authentication</h3>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <fieldset>
                        {{ form|crispy }}
                    </fieldset>
                    <button type="submit" class="btn btn-primary submitSIRSBtn">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
